*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
}

.container{
width: 1400px;
margin: 0 auto;
}

.wrapper{
    background: #18662f;
    width: 100%;
    height: 955px;
    padding-top: 100px;
}
.title{
    font-size: 50px;
    text-align: center;
    color-interpolation-filters: #492b2b;
}
.inp{
    display: block;
    padding: 20px 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: #aadfb7;
    color: white;
}

.btn{
    display: block;
    padding: 10px 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
    background: #375e4f;
    border: 1px solid #2a473c;
}

.h2{
    font-size: 30px;
    text-align: center;
    color: #301a1a;

}







































